/* Font Import */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
/* Reset */
html {
  font-size: 100%; }

body {
  color: #a3acad;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 0px !important;
  margin: 0px !important;
  line-height: 1.5;
  font-style: normal;
  font-weight: 300;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden; }

.main-wrapper {
  opacity: 1; }

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 38px;
  line-height: 46px; }

h2 {
  line-height: 42px; }

h3 {
  line-height: 34px; }

h4 {
  line-height: 28px;
  font-size: 16px; }

h3 small,
h4 small,
h5 small {
  font-family: 'Open Sans';
  font-weight: 300;
  color: #444; }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small {
  color: #505458;
  font-size: 62%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans';
  font-weight: 300; }

h1.block,
h2.block,
h3.block,
h4.block,
h5.block,
h6.block {
  padding-bottom: 10px; }

a {
  text-shadow: none !important;
  color: #393939;
  transition: color 0.1s linear 0s, background-color 0.1s linear 0s, opacity 0.1s linear 0s !important; }

a,
a:focus,
a:hover,
a:active {
  outline: 0;
  text-decoration: none; }

label.inline {
  display: inline-block;
  position: relative;
  top: 0px;
  font-size: 13px; }

ul > li {
  padding-left: 0;
  line-height: 20px; }

address {
  margin-bottom: 0px; }

blockquote {
  padding: 0 0 0 18px;
  border-left: 5px solid #EEEEEE; }

blockquote p {
  font-size: 16px; }

blockquote small:before {
  content: ""; }

blockquote.pull-right small:after {
  content: ""; }

blockquote small {
  line-height: 29px;
  color: #8b91a0; }

.normal {
  font-weight: normal; }

.semi-bold {
  font-weight: 600; }

.bold {
  font-weight: bold; }

.all-caps {
  text-transform: uppercase; }

.light {
  font-weight: 300 !important; }

.small-text {
  font-size: 12px !important; }

.normal-text {
  font-size: 13px !important; }

.large-text {
  font-size: 15px !important; }

.center-text {
  text-align: center !important; }

.muted {
  color: #b6bfc5; }

/* Background Colors */
.bg-blue {
  background-color: #00acec !important; }

.bg-red {
  background-color: #f35958 !important; }

.bg-yellow {
  background-color: #00acec !important; }

.bg-green {
  background-color: #0aa699 !important; }

.bg-purple {
  color: #852b99 !important; }

.bg-grey {
  color: #555555 !important; }

/* Font Colors */
.text-black {
  color: #1b1e24 !important; }

.text-white {
  color: #fff !important; }

.text-success {
  color: #0AA699 !important; }

.text-info {
  color: #0090D9 !important; }

.text-warning {
  color: #fbb05e !important; }

.text-error {
  color: #F35958 !important; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left !important; }

.text-center {
  text-align: center !important; }

/* Color bands showcase used for demo */
.color-bands.green {
  background-color: #0aa699; }

.color-bands.purple {
  background-color: #a272b2; }

.color-bands.red {
  background-color: #f35958; }

.color-bands.blue {
  background-color: #14b9d6; }

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #E0DFDF;
  border-bottom: 1px solid #FEFEFE; }

/*** Fixes & Misc ***/
.middle > * {
  vertical-align: middle; }

.hide {
  display: none !important; }

.appear {
  visibility: hidden; }

.v-align-bottom {
  vertical-align: bottom; }

.v-align-top {
  vertical-align: top; }

.v-align-middle {
  vertical-align: middle; }

.inline {
  display: inline-block; }

img.resize {
  max-width: 100%;
  height: auto; }

.push-bottom {
  position: absolute;
  bottom: 0; }

.push-top {
  position: absolute;
  top: 0; }

.clearfix {
  clear: both; }

p {
  margin: 0 0 10px;
  line-height: 21px; }

header {
  width: 100%;
  height: 565px;
  background: url("../img/header-bg.png") center no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
  padding-top: 110px;
  box-sizing: border-box; }
  header .logo {
    border: 4px solid #fff;
    height: 50px;
    width: 120px;
    line-height: 50px;
    font-size: 30px;
    color: #fff;
    display: block;
    margin: auto;
    font-family: 'Montserrat', sans-serif; }
  header h1 {
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 60px auto 27px;
    line-height: 1; }
  header h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 37px; }

.container {
  max-width: 950px;
  margin: auto; }

.page-content {
  text-align: center; }
  .page-content h2 {
    font-size: 45px;
    color: #37474f; }
  .page-content section {
    margin-top: 120px; }
    .page-content section .description {
      font-size: 20px;
      margin: 35px auto 75px;
      line-height: 35px;
      width: 75%; }
  .page-content .col-3 {
    width: 25%;
    float: left;
    padding: 0px 10px;
    box-sizing: border-box; }
    .page-content .col-3 .feature-description {
      font-size: 19px; }
    .page-content .col-3 .feature-icon {
      margin-bottom: 25px; }
  .page-content .col-5 {
    width: 20%;
    min-width: 140px;
    float: left;
    padding: 0px 10px;
    box-sizing: border-box;
    margin-bottom: 50px; }
    .page-content .col-5 .feature-description {
      font-size: 19px;
      text-transform: uppercase;
      margin: 25px 0px;
      color: #5f6a70;
      font-weight: 700; }
    .page-content .col-5 .feature-icon {
      width: 120px;
      height: 120px;
      background: #e5e3e6;
      margin: auto; }

footer {
  background: #ff5722;
  margin-top: 60px;
  text-align: center; }
  footer h2 {
    color: #fff;
    font-size: 45px;
    font-weight: 300;
    padding: 100px 0px;
    line-height: 60px; }
  footer .infobox {
    background: #ff491b;
    padding: 50px 0px;
    margin-top: 40px; }
    footer .infobox span {
      width: 50%;
      color: #fff;
      font-size: 50px;
      font-weight: 600;
      padding: 0 30px; }
      footer .infobox span i {
        padding-right: 30px;
        font-size: 60px;
        position: relative;
        top: 6px; }

/*# sourceMappingURL=style.css.map */
